<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A Mathematical quiz app aimed at improving the mathematical skills of individualss"> <!-- Working on this later -->
    <link rel="shortcut icon" href="{% static 'Images/Favicon.ico' %}" type="image/x-icon" />
    <title>Notation</title>
</head>
<body>
    {% block body %}
    {% endblock body %}
</body>
</html>